.hamburger{
    height: 5vh;
    width: 5vw;
    margin-top: 8px;
    background-color: whitesmoke;
}
.hamburger__line{
    background-color: black;
    margin: 10px 10px 10px 10px;
    height: 1vh;
    width: 2vw;
    border-radius: 20%;
}
